* { margin:0; padding:0; }

body {
  color:#444;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 100%;
  margin: 0 auto;
}

@viewport { width: device-width; }

@media screen and (min-width: 680px) {
  body { width: 680px; }
}

h1 { 
  font-size: 2em;
  border-top: 1px solid #ddd;
  margin: 15px 0;
}
h2 { font-size: 1.5em; font-weight: bold; }
h3 { font-size: 1.5em; }
h4 { font-size: 1em; font-weight: bold; }
h5 { font-size: 1em; font-style: italic; }
h6 { font-size: 1em; }

a { text-decoration:none; }
a:link, a:active { color:#316d96; }
a:visited { color:#7e5494; }
a:link:hover, a:active:hover, a:visited:hover { 
  text-decoration:underline;
}
a:link:hover, a:active:hover { color:#006be4; }
a:visited:hover { color:#af00cf; }

p, ul, ol { margin: 15px 0; }

ul > li { margin-left:1.4em; }

blockquote {
  padding-left: 5px;
  border-left: 5px solid #888;
}

pre {
  font-family: 'Consolas', monospace;
  background-color: #F5F5F5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 10px;
}

#title {
  border: none;
  font-size: 3em;
  font-variant:small-caps;
}
#subtitle {
  font-size: 0.5em;
  color: #808080;
  font-variant:normal;
}

#contents {
  color: #888;
}
#contents a {
  font-size: 1.5em;
  font-variant:small-caps;
}
