<div class="well well-sm">
  {% if page.path|split:'/'|size > 1 %}
    {% assign cat = page.path|split:'/'|first %}
  {% endif %}
  {% if cat == 'research' %}
    Work as a particle physicist
  {% elsif cat == 'career' %}
    Career development of a particle physicist
  {% elsif cat == 'living' %}
    How a nerd lives
  {% elsif cat == 'teaching' %}
    Teach as a particle physicist
  {% elsif cat == 'learning' %}
    Learn from a particle physicist
  {% elsif cat == 'toolbox' %}
    A particle physicist's toolbox
  {% else %}
    Research and education quanta of a particle physicist
  {% endif %}
</div>
