</div><!-- col-md-8 -->
<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">Acknowledgement</div>
    <div class="panel-body">
      <p>Activities mentions in this site have been supported by the following grants:</p>
      <ul>
	<li><a href="https://pamspublic.science.energy.gov/WebPAMSExternal/Interface/Common/ViewPublicAbstract.aspx?rv=114f14a8-23ac-43f1-87b6-5be06950b930&rtc=24&PRoleId=10">DOE HEP DE-SC0022167</a></li>
	<li><a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2117774">NSF MRI #2117774</a></li>
	<li><a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1743790">NSF OISE #1743790</a></li>
	<li><a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1738695">NSF OIA #1738695</a></li>
	<li><a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1506036">NSF PHY #1506036</a></li>
	<li><a href="https://www.usd.edu/ctl">CTL MCI grant, USD</a></li>
	<li><a href="https://www.usd.edu/gc/research-opportunities">CURCS Mini-Grant, USD</a></li>
	<li><a href="https://www.usd.edu/gc/research-opportunities">U Discover Summer Scholar, USD</a></li>
	<li><a href="https://www.usd.edu/ctl">CTL Course Design Fellowship, USD</a></li>
	<li><a href="http://sdspacegrant.sdsmt.edu/Fellowship.html">NASA SD Space Grant Consortium Student Fellowship</a></li>
      </ul>
    </div>
  </div>
  {% assign sorted_tags = site.tags | sort %}
  <div class="well well-sm">
    <ul class="nav nav-pills">
      {% for each in sorted_tags %}
        {% assign name = each | first %}
        {% assign posts = each | last %}
        <li><a href="/tags/#{{name|replace:' ','-'}}">{{name}} <span class="badge">{{posts|size}}</span></a></li>
      {% endfor %}
    </ul>
  </div>
</div><!-- col-md-4 -->
</div><!-- row -->
</div><!-- container -->
</body>
</html>
