</div><!-- col-md-8 -->
<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">About</div>
    <div class="panel-body">
      <p>Blogs on physics research and educational activities of <a
	href="https://www.linkedin.com/in/jingliuphys">Jing LIU</a>, an <a
	href="http://www.usd.edu/faculty-and-staff/Jing-Liu">assistant
	professor</a> in <a href="http://www.usd.edu/physics">physics</a> at
      the <a href="http://www.usd.edu">University of South Dakota</a>.</p>

      <p>Follow physino on <a href="https://www.youtube.com/channel/UCQd4wp1ehUPXVHLjqYAMR3g">YouTube</a><!--, <a
	href="https://plus.google.com/106431730867248081382">Google+</a>, <a
	href="https://twitter.com/physino_xyz">Twitter</a> or <a
	href="https://www.facebook.com/physino">Facebook</a>-->.</p>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Acknowledgement</div>
    <div class="panel-body">
      <p>Some of the activities mentions in this site are supported by the
      following funds: <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1506036">NSF Award #1506036</a>, <a href="http://sanfordlab.org/article/1576">South
	Dakota's physics doctoral program</a>, <a
	href="https://www.sdbor.edu/services/academics/aac/documents/5_F_AAC0215.pdf">Student
	Technology Fellow - SD EPSCoR Partnership</a>, <a
	href="http://www.usd.edu/cage/on-campus-programs">U Discover Summer
	Scholar Program</a>, <a href="http://sdspacegrant.sdsmt.edu/">NASA
	South Dakota Space Grant</a> and grants from 
      <a href="http://www.usd.edu/ctl">CTL, USD</a>.</p>
    </div>
  </div>
</div>
</div><!-- row -->
</div><!-- container -->
</body>
</html>
