<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#portals">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/tags">
	<span class="glyphicon glyphicon-search"></span>
      </a>
      <a class="navbar-brand" href="/">physino.xyz</a>
    </div>
    <div class="navbar-collapse collapse" id="portals">
      <ul class="nav navbar-nav navbar-right">
	<li><a href="http://orcid.org/0000-0003-1869-2407"><i class="fab fa-orcid"></i></a></li>
	<li><a href="https://github.com/jintonic"><i class="fab fa-github"></i></a></li>
	<li><a href="https://www.youtube.com/channel/UCQd4wp1ehUPXVHLjqYAMR3g"><i class="fab fa-youtube"></i></a></li>
	<li><a href="https://www.linkedin.com/in/jingliuphys"><i class="fab fa-linkedin"></i></a></li>
	<li><a href="https://www.facebook.com/physino/"><i class="fab fa-facebook"></i></a></li>
	{% for each in site.categories %}
	  {% assign cat = each|first %}
	  {% assign dir = page.path|split:'/'|first %}
	  <li class="{% if dir == cat %}{{'active'}}{% endif %}">
	    <a href="/{{cat}}">{{cat|upcase}}</a></li>
	{% endfor %}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8">
